.try-div {
    border: 1px solid blue;
    
}
.my-d-block {
    display: block;
}

.try-div-one {
    width: 400px;
    height: 200px;
    border: 1px dotted red;
}
.try-text-center {
    text-align: center;
}
.try-row {
    /* display: flex; */
    

}
.try-btn {
    /* margin-left: auto; */
    margin-right: auto;
}